.body-camisaria {
  position: absolute;
  height: 385px;
  width: 1011px;
  left: 258px;
  top: 2454px;
  border-radius: 0px;

  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.title-camisaria {
  position: absolute;
  left: 512px;
  top: 57px;
}

.title-camisaria h2 {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 300;
  font-size: 62px;
  line-height: 75px;

  text-transform: uppercase;

  color: #014561;
}

.text-camisaria {
  position: absolute;
  left: 531px;
  top: 127px;
}

.text-camisaria p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  color: #c4c4c4;
}

.informacao-camisaria {
  position: absolute;
  top: 177px;
  left: 512px;
}

.informacao-camisaria li {
  font-family: Cormorant;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  color: #727272;
}

.segunda-informacao-camisaria {
  position: absolute;
  top: 176px;
  left: 732px;
}

.segunda-informacao-camisaria li {
  font-family: Cormorant;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  color: #727272;
}

.camisaria-btnn {
  position: absolute;
  height: 50px;
  width: 330px;
  top: 298px;
  left: 510px;

  background: #014561;
}

.camisaria-btnn a {
  position: absolute;
  width: 165px;
  height: 22px;
  left: calc(50% - 165px / 2 + 0.5px);
  top: calc(50% - 22px / 2);

  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;

  color: #e5e5e5;
}

.camisaria-image img {
  position: absolute;
  height: 488px;
  width: 530px;
  
  left: -168px;
  top: -50px;
}
